* {
  margin: 0;
}
:root {
  --font-family: "Rubik", sans-serif;
}
.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_image {
  width: 155px;
  margin-top: 10px;
}

.buttons {
  font-family: var(--font-family);
  padding: 10px auto 13px auto;
  display: flex;
  flex-direction: row;
  justify-content: 10px auto 13px auto;
  align-items: center;
  list-style: none;
}

.main_button {
  font-family: var(--font-family);
  color: #4a4a4a;
  display: flex;
  text-align: 20px;
}
